<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Aspiring Software Developer</h1>
    <p>I'll like to be a full-stack Web Developer</p>
    <p>List of my skills</p>
    <ul>
        <li>coding</li>
        <li>communication</li>
    </ul>
    <p>List of my interests</p>
    <ul>
        <li>reading</li>
        <li>learning</li>
        <li>speaking</li>
    </ul>
</body>
</html>